[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ptpython = "*"

[packages]
tensorflow = "*"
keras = "*"
numpy = "*"
matplotlib = "*"
tictoc = {editable = true,git = "https://github.com/itsayellow/tictoc.git"}

[requires]
python_version = "3.6"
